   {% extends 'base.html' %}


    {% block content %}
<head>
    <style>
    table{
        width: 100%;
        margin-left: 230px;
    }
    td{
        background-color:#7AD7F0;
        color: black;
        font-family: times, serif; font-style:italic;
        font-size: 30px;
    }
    </style>
</head>

    <div class="page-header">
      <h2 class="text-center"style="color: #7AD7F0; font-family: times, serif; font-style:italic;">Manager Account Details</h2>
    </div>

<div class="row">

  <div class="col-xs-12 col-md-8 text-left">
    <table>
      <tr><td>Name: </td><td>{{ user.full_name }}</td></tr>
      <tr><td>Date of Birth:  </td><td>{{ user.birth_date }}</td></tr>
      <tr><td>Contact No: </td><td>{{ user.contact_no }}</td></tr>
      <tr><td>Email Address: </td><td>{{ user.email }}</td></tr>
      <tr><td>Address: </td><td>{{ user.Address }}</td></tr>
      <tr><td>Country: </td><td>{{ user.country }}</td></tr>
      <tr><td>City: </td><td>{{ user.city }}</td></tr>
      <tr><td>Occupation: </td><td>{{ user.occupation }}</td></tr>
      <tr><td>Account Created: </td><td>{{ user.date_joined|date:'d-m-Y' }}</td></tr>
    </table>
  </div>

</div>



    {% endblock %}