{% extends 'base.html' %}

      {% block head %}
      <title>Loan Management System </title>
      {% endblock %}

          {% block content %}
          <div class="container" >
              <div class="jumbotron" id = contant>
                  <div class="col-8">
                      <h1 class="mt-2">Welcome to our Loan Management System </h1>
                      <h2 clas="mt-5">Logged in as: {{ user.username }}</h2>
                      <h1 clas="mt-5"> Information About Loan</h1>
                      <h2 clas="mt-5">The Loan Management System (LMS) is an innovative, turn-key, end-to-end securities-based lending platform that connects lenders seeking high-quality, collateralized loans with borrowers requiring convenient access to credit.</h2>


                  </div>
              </div>
              <footer>Copyright &copy Raiyan Sharif and Md Sajidul Alam, <a href="index.html" style="color:white;text-decoration:none;">IIT,The University of Dhaka &nbsp;&nbsp;&nbsp;</a></footer>
          </div>

          {% endblock %}
