{% extends 'base.html' %}


{% block content %}
<h2>{{ title }}</h2><hr>
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <form method='POST' enctype="multipart/form-data">{% csrf_token %}
        <h1>loan_installment_amount: {{form.loan_installment_amount}}</h1>
        <h1>account_balance: {{form.account_balance}}</h1>
            <input type="submit" value="Update">
    </form>
    {% else %}

     {% endif %}
</form>
{% endblock content %}
